<a href="https://colab.research.google.com/github/Krmjn09/pythonassignment.km/blob/main/pythonassignment_km.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1

In [2]:
# (i)
L=[11,12,13,14]
L.append(50)
L.append(60)
print("after appending -->",L)

#(ii)
del L[0]
print("after deleting -->" ,L)
del L[1]
print("after deleting -->" ,L)

#(iii)
L.sort()
print("after arranging in ascending order =", L)
#(iv)
L .sort(reverse=True)
print("after arranging in descending order =", L)

after appending --> [11, 12, 13, 14, 50, 60]
after deleting --> [12, 13, 14, 50, 60]
after deleting --> [12, 14, 50, 60]
after arranging in ascending order = [12, 14, 50, 60]
after arranging in descending order = [60, 50, 14, 12]

In [8]:
#(v)
L=[11,12,13,14]
if 13 in L:
 print("element found")

else:
  print("element not found")

element found

In [9]:
#(vi)
count=len(L)
print("No of elements in L are",count)

No of elements in L are 4

In [10]:
#(vii)
print("Sum of all the elements in L =",sum(L))

Sum of all the elements in L = 50

In [14]:
#(viii)
i=0
while i < len(L):
 if (L[i]%2!=0):
  print("oDD NO. ARE ", L[i])
 i+=1

oDD NO. ARE  11
oDD NO. ARE  13

In [15]:
#(ix)
i=0
while i < len(L):
 if (L[i]%2==0):
  print("Even NO. ARE ", L[i])
 i+=1

Even NO. ARE  12
Even NO. ARE  14

In [16]:
#(x)
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True


prime_sum = 0
for num in L:
    if is_prime(num):
        prime_sum += num

print(f"The sum of all prime numbers in the list is: {prime_sum}")

The sum of all prime numbers in the list is: 24

In [17]:
L.clear()
print("list after clearing ", L)

list after clearing  []

In [18]:
del L

# Question 2

In [19]:
#(i)
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print("After adding =", D)

After adding = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [20]:
#(ii)
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [35]:
#(iii)
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
if '6' in D:
  print("present")
else:
  print("not present")

not present

In [36]:
count=len(D)
print(count)

5

In [41]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
total = 0
for k in D.values():
    total += k

print(f"The sum of all values in the dictionary is: {total}")

The sum of all values in the dictionary is: 36.4

In [42]:
D[3]=7.1
print(D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [43]:
D.clear()
print(D)

{}

# Question 3

In [50]:
#(i)
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
print(S1)
S1.add(55)
S1.add(66)
print(S1)

{50, 20, 40, 10, 60, 30}
{50, 66, 20, 55, 40, 10, 60, 30}

In [51]:
# (ii) Remove 10 and 30 from S1
S1.discard(10)
S1.discard(30)
print("Updated S1 after removing 10 and 30:", S1)

Updated S1 after removing 10 and 30: {50, 66, 20, 55, 40, 60}

In [52]:
# (iii) Check if 40 is present in S1
if 40 in S1:
    print("40 is present in S1.")
else:
    print("40 is not present in S1.")

40 is present in S1.

In [53]:
# (iv) Find the union of S1 and S2
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
union_set = S1.union(S2)
print("Union of S1 and S2:", union_set)

Union of S1 and S2: {70, 40, 10, 80, 50, 20, 90, 60, 30}

In [54]:
# (v) Find the intersection of S1 and S2
intersection_set = S1.intersection(S2)
print("Intersection of S1 and S2:", intersection_set)

Intersection of S1 and S2: {40, 50, 60}

In [55]:
# (vi) Find S1 - S2
difference_set = S1 - S2
print("Difference of S1 and S2:", difference_set)

Difference of S1 and S2: {10, 20, 30}

# Question 4

In [61]:
import random

# (i) Print 100 random strings with length between 6 and 8
for _ in range(100):
    length = random.randint(6, 8)
    random_string = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=length))
    print(random_string)

przjnnxz
rinjtdjy
jwxayvh
rssdqsl
bpqpiyqn
qqovqu
cfcqwi
suemlahz
osckslm
ojeeavf
kovdef
flksae
hwjqdeeg
pgceqxtn
wvlmpmqs
abqvifmf
uvthvxke
oppnhdp
ayakxqmm
yvqibt
geotqnk
drgdkcf
swfttor
ockllt
jfrkoj
twsooh
rdygas
aighlo
ewfjkrt
lkzmsd
qalbvxpv
tdiokhc
rvnmxnss
ufbuwhr
xgyhtka
lgbzsc
ntvfvel
zltsdyf
mfjjtbk
gmifngr
ocilqrk
lcdvsyiw
vyqejvfk
kegeglet
zdnveix
kyknjaud
jsqvww
rimgrxa
qgphaaug
jhaaaa
crmfrzu
otawggj
tgsvtnxv
lrthvdb
ughxshnt
wplsxyj
pxxvcz
vxbxcto
siqtqot
bkyvhxr
wnfbtbfv
svcxvf
ptwzuc
ggahwd
lpioyq
bdeqglxj
ziyogzhx
sxjiax
wjqjtybz
rfjxxnps
atvkoiy
ikpcxdf
lhfksua
ilkoblpx
aqdgln
warmqt
dslwtbv
lmidmvfi
clttol
dssryi
bypuqa
rhbpmzyd
blmrvx
zdapkuod
japedxz
zeuxhu
hsoozutm
biczqb
qcwbfdj
cygwden
cpovlzj
tkgndmx
eqtxuzn
phvsxmev
kvboukc
glrsrnx
aanztvh
bezowmwg
zwyqwf
zywrmf

In [62]:
# (ii) Print all prime numbers between 600 and 800
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
    
for num in range(600, 801):
    if is_prime(num):
        print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [63]:
# (iii) Print all numbers between 100 and 1000 divisible by 7 and 9
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [65]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = random.sample(range(10, 31), 10)
list2 = random.sample(range(10, 31), 10)

print("List 1:", list1)
print("List 2:", list2)

# (i) Find common numbers in the two lists
common_numbers = set(list1).intersection(set(list2))
print("Common numbers:", common_numbers)

# (ii) Find unique numbers in both lists
unique_numbers = set(list1).symmetric_difference(set(list2))
print("Unique numbers:", unique_numbers)

# (iii) Find the minimum in both lists
min1 = min(list1)
min2 = min(list2)
print("Minimum in List 1:", min1)
print("Minimum in List 2:", min2)

# (iv) Find the maximum in both lists
max1 = max(list1)
max2 = max(list2)
print("Maximum in List 1:", max1)
print("Maximum in List 2:", max2)

List 1: [16, 11, 20, 19, 28, 10, 23, 26, 24, 14]
List 2: [28, 10, 26, 17, 11, 19, 30, 18, 27, 25]
Common numbers: {10, 11, 19, 26, 28}
Unique numbers: {14, 16, 17, 18, 20, 23, 24, 25, 27, 30}
Minimum in List 1: 10
Minimum in List 2: 10
Maximum in List 1: 28
Maximum in List 2: 30

# Question 6

In [66]:
import random

# Create a list of 100 random numbers between 100 and 900
numbers = random.sample(range(100, 901), 100)

# (i) Print all odd numbers
odd_numbers = [num for num in numbers if num % 2 != 0]
print("Odd numbers:", odd_numbers)

# (ii) Print all even numbers
even_numbers = [num for num in numbers if num % 2 == 0]
print("Even numbers:", even_numbers)

# (iii) Print all prime numbers
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in numbers if is_prime(num)]
print("Prime numbers:", prime_numbers)

Odd numbers: [799, 603, 469, 147, 269, 773, 825, 211, 449, 621, 437, 763, 715, 853, 667, 511, 413, 863, 747, 771, 857, 193, 665, 897, 545, 491, 151, 669, 141, 865, 845, 547, 539, 889, 675, 223, 657, 441, 881, 619, 409, 555, 821, 221, 581, 343, 737, 559, 257, 463, 787, 615, 543, 365, 777, 565, 719]
Even numbers: [390, 384, 372, 134, 300, 150, 836, 694, 122, 410, 536, 126, 538, 820, 518, 506, 450, 222, 496, 598, 642, 438, 442, 852, 370, 436, 550, 466, 344, 162, 392, 454, 512, 744, 736, 468, 110, 630, 446, 100, 618, 784, 254]
Prime numbers: [269, 773, 211, 449, 853, 863, 857, 193, 491, 151, 547, 223, 881, 619, 409, 821, 257, 463, 787, 719]

# Question 7

In [70]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

# Open the file in write mode
fp=open("output.txt", "w")
    # Iterate over the items of the dictionary
for key, value in D.items():
        # Write the key-value pair to the file
 fp.write(f"{key}, {value}\n")
print("Data written to the file successfully.")

Data written to the file successfully.

# Question 8

In [71]:
L = ["One", "Two", "Three", "Four", "Five"]

with open("lengths.txt", "w") as file:
    for item in L:
        length = len(item)
        file.write(f"{item}, {length}\n")

# Question 9

In [72]:
import random
import string

with open("random_strings.txt", "w") as file:
    for _ in range(100):
        length = random.randint(10, 15)
        random_string = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
        file.write(f"{random_string}\n")

In [73]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

with open("prime_numbers.txt", "w") as file:
    for num in range(600, 801):
        if is_prime(num):
            file.write(f"{num}\n")

# Question 11

In [76]:
import time

# Start the timer
start_time = time.time()

# Run your program here
# ...

# End the timer
end_time = time.time()

# Calculate the elapsed time
elapsed_time = end_time - start_time

# Print the elapsed time
print(f"The program took {elapsed_time:.2f} seconds to execute.")

The program took 0.00 seconds to execute.

In [77]:
# Create a dictionary of student marks
student_marks = {
    "John": [85, 92, 78, 90, 88],
    "Alice": [90, 87, 92, 75, 82],
    "Emma": [79, 85, 80, 92, 88],
    "Michael": [92, 89, 92, 90, 85],
    "Sophia": [88, 85, 90, 78, 92]
}

# Calculate the average marks for each student
average_marks = {}
for student_marks in student_marks.items():
    average_marks[student] = sum(marks) / len(marks)

# Find the student with maximum and minimum average marks
max_student = max(average_marks, key=average_marks.get)
min_student = min(average_marks, key=average_marks.get)

# Print the results
print(f"The student with the maximum average marks is: {max_student} with an average of {average_marks[max_student]:.2f}")
print(f"The student with the minimum average marks is: {min_student} with an average of {average_marks[min_student]:.2f}")

TypeError: ignored